.content {
  display: flex;
  min-height: 600px; }
  .content__left {
    width: 30%;
    background: orange; }
  .content__right {
    width: 70%;
    background: yellow; }
    .content__right img {
      max-width: 600px; }
