.top {
  display: flex;
  justify-content: space-between;
  background: pink; }
  .top__left .logo {
    width: 200px;
    height: 150px; }
  .top__left .slogan {
    font-style: italic;
    font-weight: bold; }
  .top__right a {
    text-decoration: underline;
    color: red;
    font-style: italic; }
