.top {
	display: flex;
	justify-content: space-between;
	background: pink;
	&__left {
		.logo {
			width: 200px;
			height: 150px;
		}
		.slogan {
			font-style: italic;
			font-weight: bold;
		}
	}

	&__right {
		a {
			text-decoration: underline;
			color: red;
			font-style: italic;
		}
	}
}